[submodule "elm-html-file"]
   path = elm-html-file
   url = git@github.com:vilterp/elm-html-file.git
[submodule "elm-websockets"]
   path = elm-websockets
   url = git@github.com:vilterp/elm-websockets.git

[submodule "elm-font-awesome"]
	path = elm-font-awesome
	url = git@github.com:rtfeldman/elm-font-awesome.git
